<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Data Visualizer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Stock Data Visualizer</h1>
    <form id="stockForm" action="/result" method="post">
        <label for="symbol">Enter stock symbol:</label>
        <input type="text" id="symbol" name="symbol"><br><br>
        <label for="chartType">Enter chart type (1 or 2):</label>
        <input type="number" id="chartType" name="chartType" min="1" max="2"><br><br>
        <label for="timeSeries">Enter time series (1-4):</label>
        <input type="number" id="timeSeries" name="timeSeries" min="1" max="4"><br><br>
        <label for="startDate">Enter start date (YYYY-MM-DD):</label>
        <input type="text" id="startDate" name="startDate"><br><br>
        <label for="endDate">Enter end date (YYYY-MM-DD):</label>
        <input type="text" id="endDate" name="endDate"><br><br>
        <input type="submit" value="Generate Graph">
    </form>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="static/script.js"></script>
</body>

</html>